.trigger-button {
  padding: 0px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.thumbnail {
  width: 280px;
}
.popup-content {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0px;
  align-self: flex-end;
}
.close-icon {
  font-size: 20px;
}
.player-container {
  padding: 0px 16px 16px 16px;
}
